Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

addressed feedback from the review
  packages/application/src/application.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/utils/src/discovery.ts
Due: application, utils

delete dist only when publishing
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, utils

renamed iterable2array -> asyncIterableToArray
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/readable/data-authorization.ts
  packages/utils/src/async-iterable-to-array.ts
  packages/utils/test/async-iterable-to-array-test.ts
Due: data-model, utils

released 1.0.0-rc.18
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

[data-model] added support for blobs
  packages/data-model/src/data-instance.ts
  packages/data-model/src/readable/data-authorization.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/data-instance-test.ts
  packages/utils/src/fetch.ts
Due: data-model, utils

released 1.0.0-rc.19
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

fixed all eslint errors
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/mocks/package.json
  packages/mocks/src/mocked-queue.ts
  packages/mocks/src/mocked-session-manager.ts
  packages/mocks/src/mocked-storage.ts
  packages/service/package.json
  packages/service/src/bull-queue.ts
  packages/service/src/handlers/agents-handler.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/http-sequence-context-handler.ts
  packages/service/src/handlers/login-handler.ts
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/handlers/push-subscription-handler.ts
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/processors/access-inbox.ts
  packages/service/src/processors/push-notifications.ts
  packages/service/src/processors/reciprocal-registrations.ts
  packages/service/src/redis-connection-info.ts
  packages/service/src/redis-storage.ts
  packages/service/src/services/applications.ts
  packages/service/src/services/data-registries.ts
  packages/service/src/services/descriptions.ts
  packages/service/src/services/social-agents.ts
  packages/service/src/session-manager.ts
Due: none

[service] updated solid-oidc client
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

updated all dependencies
  package.json
  packages/css-storage-fixture/.internal/setup/Y3VycmVudC1zZXJ2ZXItdmVyc2lvbg==$.json
  packages/css-storage-fixture/package.json
  packages/data-model/package.json
  packages/service/package.json
Due: data-model

separated the workflow publishing docker image to GHCR
  .github/workflows/ci.yml
  .github/workflows/publish-to-ghcr.yml
Due: none

[util] added NOTIFY namespace (Solid Notifications)
  packages/utils/src/namespaces.ts
Due: utils

released 1.0.0-rc.20
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, test-utils, utils

added github packages in publish-to-npm workflow
  .github/workflows/publish-to-npm.yml
Due: none

updated versions of packages imported from sai-impl-service
  packages/api-messages/package.json
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  packages/test-utils/package.json
Due: test-utils

Update README.md
  README.md
Due: none

[util] add discovery of storage description
  packages/utils/src/link-header.ts
Due: utils

released 1.0.0-rc.21
  packages/api-messages/package.json
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, test-utils, utils

describe demo setup in readme
  README.md
Due: none

[service] import InMemoryStorage directly from solid-client-authn-core
  packages/service/package.json
  packages/service/test/unit/handlers/authorization-agent-context-handler-test.ts
  packages/service/test/unit/handlers/login-handler-test.ts
Due: none

[service] switch to new solid-notifications packages
  packages/interfaces/package.json
  packages/interfaces/src/i-session-manager.ts
  packages/mocks/package.json
  packages/mocks/src/mocked-session-manager.ts
  packages/service/README.md
  packages/service/package.json
  packages/service/src/processors/access-inbox.ts
  packages/service/src/processors/reciprocal-registrations.ts
  packages/service/src/session-manager.ts
  packages/service/test/unit/processors/access-inbox-test.ts
  packages/service/test/unit/processors/reciprocal-registrations-test.ts
  packages/service/test/unit/session-manager-test.ts
Due: none

[css-storage-fixture] add custom config and enable webhooks
  .gitignore
  packages/css-storage-fixture/.internal/setup/Y3VycmVudC1zZXJ2ZXItdmVyc2lvbg==$.json
  packages/css-storage-fixture/config.json
  packages/css-storage-fixture/package.json
Due: none

[css-storage-fixture] reorganize Bob's data registries
  packages/css-storage-fixture/acme-hr/dataRegistry/.meta
  packages/css-storage-fixture/acme-hr/dataRegistry/files/.acl
  packages/css-storage-fixture/acme-hr/dataRegistry/files/.meta
  packages/css-storage-fixture/acme-hr/dataRegistry/images/.acl
  packages/css-storage-fixture/acme-hr/dataRegistry/images/.meta
  packages/css-storage-fixture/alice/agentRegistry/bob/.acl
  packages/css-storage-fixture/alice/agentRegistry/bob/.meta
  packages/css-storage-fixture/alice/authorizationRegistry/kim/.meta
  packages/css-storage-fixture/bob-pro/.acl
  packages/css-storage-fixture/bob-pro/.meta
  packages/css-storage-fixture/bob-pro/dataRegistry/.meta
  packages/css-storage-fixture/bob-pro/dataRegistry/files/.acl
  packages/css-storage-fixture/bob-pro/dataRegistry/files/.meta
  packages/css-storage-fixture/bob-pro/dataRegistry/images/.acl
  packages/css-storage-fixture/bob-pro/dataRegistry/images/.meta
  packages/css-storage-fixture/bob-pro/dataRegistry/projects/.acl
  packages/css-storage-fixture/bob-pro/dataRegistry/projects/.meta
  packages/css-storage-fixture/bob-pro/dataRegistry/projects/project-beep$.ttl
  packages/css-storage-fixture/bob-pro/dataRegistry/projects/project-boop$.ttl
  packages/css-storage-fixture/bob-pro/dataRegistry/tasks/.acl
  packages/css-storage-fixture/bob-pro/dataRegistry/tasks/.meta
  packages/css-storage-fixture/bob-pro/dataRegistry/tasks/task-zim$.ttl
  packages/css-storage-fixture/bob-pro/dataRegistry/tasks/task-zoom$.ttl
  packages/css-storage-fixture/bob/agentRegistry/alice/.acl
  packages/css-storage-fixture/bob/dataRegistry/.meta
  packages/css-storage-fixture/bob/profile/card$.ttl
  packages/css-storage-fixture/bob/registrySet$.ttl
Due: none

[service] update handling webhook notifications
  packages/service/config/controllers/login-redirect.json
  packages/service/config/controllers/webhooks.json
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/handlers/webhooks-handler.ts
Due: none

[css-storage-fixture] separate vue and ng projectron client ids
  README.md
  packages/css-storage-fixture/acme/projectron/ng$.jsonld
  packages/css-storage-fixture/acme/projectron/vue$.jsonld
Due: none

[application] initial web sockets support
  packages/application/package.json
  packages/application/src/application.ts
Due: application

[css-storage-fixture] npm script to remove empty directories
  .prettierignore
  packages/css-storage-fixture/.internal/setup/Y3VycmVudC1iYXNlLXVybA==$.json
  packages/css-storage-fixture/.internal/setup/Y3VycmVudC1zZXJ2ZXItdmVyc2lvbg==$.json
  packages/css-storage-fixture/bob/authorizationRegistry/.meta
  packages/css-storage-fixture/bob/authorizationRegistry/kim/.meta
  packages/css-storage-fixture/bob/authorizationRegistry/kim/projects$.ttl
  packages/css-storage-fixture/bob/authorizationRegistry/kim/tasks$.ttl
  packages/css-storage-fixture/package.json
Due: none

[authorization-agent] fix handling of SelectedFromRegistry
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/readable/data-authorization.ts
Due: data-model

[api-messages] list data instances in data a registration
  .eslintrc.js
  packages/api-messages/package.json
  packages/api-messages/src/index.ts
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/api-messages/test/requests.-test.ts
  packages/api-messages/test/responses-test.ts
Due: none

[css-storage-fixture] improved snippets
  packages/css-storage-fixture/acme/projectron/access-needs$.ttl
  packages/css-storage-fixture/alice-home/dataRegistry/.meta
  packages/css-storage-fixture/alice-home/dataRegistry/files/.meta
  packages/css-storage-fixture/alice-home/dataRegistry/images/.meta
Due: none

[application] recover on error from notifications subscription
  packages/application/package.json
  packages/application/src/application.ts
  packages/application/test/application-test.ts
Due: application

[service] get issuer from the token
  package.json
  packages/service/src/handlers/authn-context-handler.ts
  packages/service/src/handlers/login-handler.ts
  packages/service/src/models/http-solid-context.ts
  packages/service/test/integration/authn-test.ts
  packages/service/test/unit/handlers/login-handler-test.ts
Due: none

[service] handle advanced authorization
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/descriptions.ts
  packages/service/test/unit/services/descriptions-test.ts
Due: none

[service] updated tests
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/handlers/login-redirect-handler-test.ts
  packages/service/test/unit/handlers/webhooks-handler-test.ts
Due: none

[service] fix api-messages package version
  package.json
  packages/service/package.json
Due: none

ci: run with node 20
  .github/workflows/ci.yml
Due: none

changed to pnpm and turborepo
  .github/workflows/ci.yml
  .github/workflows/publish-to-ghcr.yml
  .github/workflows/publish-to-npm.yml
  .gitignore
  README.md
  lerna.json
  package.json
  packages/css-storage-fixture/README.md
  packages/css-storage-fixture/package.json
  packages/interfaces/package.json
  packages/mocks/.componentsignore
  packages/mocks/LICENSE
  packages/mocks/README.md
  packages/mocks/package.json
  packages/mocks/src/index.ts
  packages/mocks/src/mocked-session-manager.ts
  packages/mocks/src/mocked-storage.ts
  packages/mocks/tsconfig.json
  packages/service/config/test.json
  packages/service/package.json
  packages/service/test/integration/agents-test.ts
  packages/service/test/integration/authn-test.ts
  packages/service/test/integration/components-builder.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/handlers/login-redirect-handler-test.ts
  packages/service/test/unit/handlers/webhooks-handler-test.ts
  packages/service/test/unit/mocked-queue.ts
  packages/test-utils/package.json
  packages/test-utils/src/data.json
  packages/test-utils/src/desc.d.ts
  packages/test-utils/src/fetch-mock.ts
  packages/test-utils/tsconfig.json
  packages/utils/package.json
  packages/utils/test/discovery-test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: test-utils, utils

[ui/authorization] merge into the monorepo
  package.json
  pnpm-workspace.yaml
  turbo.json
  ui/authorization/.browserslistrc
  ui/authorization/.editorconfig
  ui/authorization/.env.development
  ui/authorization/.eslintrc.js
  ui/authorization/.gitignore
  ui/authorization/README.md
  ui/authorization/index.html
  ui/authorization/package.json
  ui/authorization/public/favicon.ico
  ui/authorization/public/id-local.jsonld
  ui/authorization/src/App.vue
  ui/authorization/src/assets/logo.png
  ui/authorization/src/assets/logo.svg
  ui/authorization/src/backend.ts
  ui/authorization/src/components/AccessModeSelector.vue
  ui/authorization/src/components/AuthorizeAgent.vue
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/components/ShareResource.vue
  ui/authorization/src/layouts/default/Default.vue
  ui/authorization/src/layouts/default/View.vue
  ui/authorization/src/main.ts
  ui/authorization/src/plugins/index.ts
  ui/authorization/src/plugins/vuetify.ts
  ui/authorization/src/plugins/webfontloader.ts
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/app.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/store/index.ts
  ui/authorization/src/views/Authentication.vue
  ui/authorization/src/views/Authorization.vue
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/vite-env.d.ts
  ui/authorization/tsconfig.json
  ui/authorization/tsconfig.node.json
  ui/authorization/vite.config.ts
Due: none

Path conditions:
  application: any of: packages/application
  data-model: any of: packages/data-model
  namespaces: any of: packages/namespaces
  test-utils: any of: packages/test-utils
  utils: any of: packages/utils
