Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

packages namespaced under @janeirodigital
  packages/application/README.md
  packages/application/package.json
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/package.json
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/application-registration.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/model.ts
  packages/data-model/src/references-list.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/factory-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/model-test.ts
  packages/data-model/test/references-list-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/test-utils/src/fetch-mock.ts
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

pin node version to 16
  package.json
  packages/data-model/package.json
Due: data-model

utils: getOneMatchingQuad returns undefined 0 found
  packages/utils/src/match.ts
Due: utils

data-model: fixed naming of variable
  packages/data-model/test/access-receipt-test.ts
Due: data-model

test-utils: bumpted snippets to latest
  packages/test-utils/package.json
Due: test-utils

removed packages: client, server
  packages/client/README.md
  packages/client/docs/architecture.md
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/client.ts
  packages/client/src/fetch.ts
  packages/client/src/index.ts
  packages/client/src/interop-functions.ts
  packages/client/src/rdf-functions.ts
  packages/client/src/storage.ts
  packages/client/tsconfig.json
  packages/server/README.md
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/src/interop-sever.ts
  packages/server/tsconfig.json
Due: none

data-model: moved child instances iterator to data instance
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/test/data-instance-test.ts
Due: data-model

namescpaces: build LDP namespace
  packages/namespaces/src/index.ts
Due: namespaces

data-model: small cleanup
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/all-remote-data-grant-test.ts
Due: data-model

data-model: new data instance creation on data registration
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/test/data-registration-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

updated fetch for different http methods
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/model.ts
  packages/data-model/test/data-instance-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/src/index.ts
Due: data-model, test-utils, utils

data-model: factory creates parent data grants access receipt used to do it
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
Due: data-model

data-model: data instance keeps reference to data grant data grant keeps reference to remote data grant (if any)
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/index.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/all-remote-data-grant-test.ts
  packages/data-model/test/all-remote-from-agent-data-grant-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
  packages/data-model/test/seleted-remote-data-grant-test.ts
  packages/namespaces/src/index.ts
Due: data-model, namespaces

data-model: removed Remote Data Grant following new approach
  packages/application/src/application.ts
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/index.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-remote-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/all-remote-data-grant-test.ts
  packages/data-model/test/all-remote-from-agent-data-grant-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/inherit-remote-instances-data-grant-test.ts
  packages/data-model/test/selected-remote-data-grant-test.ts
  packages/test-utils/package.json
Due: application, data-model, test-utils

application: initial work
  packages/application/jest.config.js
  packages/application/package.json
  packages/application/src/application.ts
  packages/application/src/index.ts
  packages/application/test/application-test.ts
  packages/application/tsconfig.json
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/application-registration.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/model.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/factory-test.ts
  packages/data-model/test/model-test.ts
  packages/utils/src/index.ts
Due: application, data-model, utils

data-model: added remaining iterators to data grants
  README.md
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: iterator for grant with AllRemoteFromAgent scope
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: always use factory in data-grant-test Co-authored-by: elf Pavlik <elf-pavlik@hackers4peace.net>
  packages/data-model/src/data-grant.ts
  packages/data-model/test/data-grant-test.ts
Due: data-model

data-model: created separate InheritRemoteInstancesGrant class
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/index.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-remote-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/inherit-remote-instances-data-grant-test.ts
Due: data-model

data-model: update test to latest snippets
  packages/data-model/test/data-grant-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: iterator for InheritInstances
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/references-list.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/references-list-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

tiny fixes
  packages/application/README.md
  packages/data-model/test/data-instance-test.ts
Due: application, data-model

data-model: using typescript-memoize module
  .gitignore
  packages/data-model/package.json
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-registration.ts
Due: data-model

application: exploring initial public api
  .eslintrc.js
  packages/application/README.md
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/index.ts
  packages/data-model/src/social-agent.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/namespaces/src/builder.ts
  packages/utils/src/index.ts
Due: application, data-model, namespaces, utils

data-model: generalize getting objects from dataset
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/model.ts
  packages/data-model/test/data-grant-test.ts
Due: data-model

application: updated inheritance in data grants
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: updated to snippets with separate data grants
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/all-remote-data-grant-test.ts
  packages/data-model/test/all-remote-from-agent-data-grant-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
  packages/data-model/test/seleted-remote-data-grant-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: data grant
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/data-grant-test.ts
Due: data-model

data-model: initial work on passing access mode to data instances
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/test/data-instance-test.ts
Due: data-model

data-model: fixed types related to InheritsInstances data grant
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/test/access-receipt-test.ts
Due: data-model

N3 bumped from 1.10.1 to 1.11.1
  packages/application/package.json
  packages/client/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, utils

setup codecov
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  jest.preset.js
  packages/application/README.md
  packages/data-model/README.md
  packages/namespaces/README.md
  packages/test-utils/README.md
  packages/test-utils/package.json
  packages/utils/README.md
Due: application, data-model, namespaces, test-utils, utils

data-model: RemoteDataGrant builds all correspoinding SourceDataGrants
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/inherit-remote-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/data-grant-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: first data instance iterator
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-test.ts
Due: data-model

data-mode: DataGrant refactoring
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/all-remote-data-grant.ts
  packages/data-model/src/data-grants/all-remote-from-agent-data-grant.ts
  packages/data-model/src/data-grants/index.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-remote-data-grant.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/all-remote-data-grant-test.ts
  packages/data-model/test/all-remote-from-agent-data-grant-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
  packages/data-model/test/seleted-remote-data-grant-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: tests for source grants and started changing inheriting references
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-remote-instances-data-grant.ts
  packages/data-model/src/data-grants/selected-instances-data-grant.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/all-remote-data-grant-test.ts
  packages/data-model/test/all-remote-from-agent-data-grant-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/inherit-remote-instances-data-grant-test.ts
  packages/data-model/test/selected-remote-data-grant-test.ts
Due: data-model

data-model: data instance update method added
  packages/data-model/src/data-instance.ts
  packages/data-model/test/data-instance-test.ts
  packages/utils/src/index.ts
Due: data-model, utils

data-model: renamed SocialAgent to DataOwner
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/data-owner.ts
  packages/data-model/src/index.ts
Due: application, data-model

Path conditions:
  application: any of: packages/application
  data-model: any of: packages/data-model
  namespaces: any of: packages/namespaces
  test-utils: any of: packages/test-utils
  utils: any of: packages/utils
