Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

codecov.yml:

coverage:
  status:
    projects:
      default: off
      application:
        flags:
          - application
      data-model:
        flags:
          - data-model
      namespaces:
        flags:
          - namespaces
      test-utils:
        flags:
          - test-utils
      utils:
        flags:
          - utils

flags:
  application:
    paths:
      - packages/application
  data-model:
    paths:
      - packages/data-model
  namespaces:
    paths:
      - packages/namespaces
  test-utils:
    paths:
      - packages/test-utils
  utils:
    paths:
      - packages/utils

authorization-agent: initial work
  .github/workflows/ci.yml
  packages/authorization-agent/LICENSE
  packages/authorization-agent/jest.config.js
  packages/authorization-agent/package.json
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/index.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/authorization-agent/tsconfig.json
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/index.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/access-consent-registry.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/data-registry.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/access-consent-registry-test.ts
  packages/data-model/test/access-consent-test.ts
  packages/data-model/test/agent-registry-test.ts
  packages/data-model/test/registry-set-test.ts
  packages/data-model/test/social-agent-registration-test.ts
Due: data-model

data-model: improved test coverage
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/access-consent-test.ts
  packages/data-model/test/immutable/access-grant-test.ts
  packages/data-model/test/immutable/data-consent-test.ts
  packages/data-model/test/immutable/resource-test.ts
  packages/data-model/test/readable/access-consent-registry-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/application-registration-test.ts
  packages/data-model/test/readable/social-agent-registration-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: updated names of scopes
  packages/data-model/src/base-factory.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/data-grant-test.ts
  packages/data-model/test/readable/all-instances-data-grant-test.ts
  packages/data-model/test/readable/inherit-instances-data-grant-test.ts
  packages/data-model/test/readable/selected-instances-data-grant-test.ts
Due: data-model

data-model: immutable-resource and immutable-data-grant added
  packages/data-model/src/immutable-data-grant.ts
  packages/data-model/src/immutable-resource.ts
  packages/data-model/src/index.ts
  packages/data-model/test/immutable-data-grant-test.ts
  packages/data-model/test/immutable-resource-test.ts
Due: data-model

data-model: further work on consents
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/base-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-registry.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/resource-test.ts
  packages/data-model/test/readable/data-consent-test.ts
  packages/data-model/test/readable/data-registry-test.ts
  packages/data-model/test/readable/registry-set-test.ts
  packages/data-model/test/readable/social-agent-registration-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/utils/src/async-iterable-to-array.ts
  packages/utils/src/index.ts
Due: data-model, test-utils, utils

data-model: immutable resources do not need async factory methods
  packages/application/README.md
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
Due: application, data-model

data-model: initial version of iriForContained()
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/readable/access-consent-registry.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: comparing grants takes into account more predicates * inheritsFromGrant * delegationOfGrant
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: aligned constructs
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/test/immutable-data-grant-test.ts
  packages/data-model/test/immutable-resource-test.ts
Due: data-model

data-model: Model renamed to ReadableResource
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/application-registration.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable-resource.ts
  packages/data-model/src/shape-tree.ts
  packages/data-model/test/model-test.ts
Due: data-model

data-model: ApplicationRegistration => ReadableApplicationRegistration
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable-application-registration.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/factory-test.ts
Due: application, data-model

Added CRUDResoruce, CRUDApplicationRegistration
  packages/data-model/src/crud-application-registration.ts
  packages/data-model/src/crud-resource.ts
  packages/data-model/src/index.ts
  packages/data-model/test/crud-application-registration-test.ts
  packages/data-model/test/crud-resoruce-test.ts
  packages/namespaces/src/index.ts
Due: data-model, namespaces

util, test-util: added missing tests
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/test/async-iterable-to-array-test.ts
Due: test-utils, utils

data-model: AccessReceipt => AccessGrant
  packages/application/src/application.ts
  packages/data-model/src/access-grant.ts
  packages/data-model/src/application-registration.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/shape-tree.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/test-utils/package.json
Due: application, data-model, test-utils

data-model: reorganised files
  packages/application/README.md
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/crud/resource.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-owner.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/index.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/inherit-instances-data-grant.ts
  packages/data-model/src/readable/resource.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/shape-tree-test.ts
Due: application, data-model

data-model: added readable-container
  packages/data-model/src/readable/access-consent-registry.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/container.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/social-agent-registration.ts
Due: data-model

data-model: move checking equivalence to data grant
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: improved crud agent registration
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/agent-registration-test.ts
  packages/data-model/test/readable/access-consent-test.ts
Due: data-model

data-model: corrected factory dependencies of immutable resource
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/test/immutable/resource-test.ts
Due: data-model

data-model: refactored factories
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/base-factory.ts
  packages/data-model/src/index.ts
Due: data-model

authorization-agent: missing tests added
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/test/readable/agent-registry-test.ts
Due: data-model

data-model: changed readable agent registry to crud
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/data-registry-test.ts
Due: data-model

data-model: moved logic from agent registration to resource
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/crud/resource.ts
  packages/data-model/test/crud/agent-registration-test.ts
  packages/data-model/test/crud/resoruce-test.ts
Due: data-model

data-model: data registry can create new data registrations
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/container.ts
  packages/data-model/src/crud/data-registration.ts
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/data-registration-test.ts
  packages/data-model/test/crud/data-registry-test.ts
Due: data-model

data-model: added missing test to registry set
  packages/data-model/test/readable/registry-set-test.ts
Due: data-model

data-model: moved checkEquivalence to immutable grant
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: access consent registry from readable to crud
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
Due: data-model

data-model: adding access consent to registry
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
Due: data-model
