Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

codecov.yml:

coverage:
  status:
    projects:
      default: off
      application:
        flags:
          - application
      data-model:
        flags:
          - data-model
      namespaces:
        flags:
          - namespaces
      test-utils:
        flags:
          - test-utils
      utils:
        flags:
          - utils

flags:
  application:
    paths:
      - packages/application
  data-model:
    paths:
      - packages/data-model
  namespaces:
    paths:
      - packages/namespaces
  test-utils:
    paths:
      - packages/test-utils
  utils:
    paths:
      - packages/utils

data-model: changed readable agent registry to crud
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/data-registry-test.ts
Due: data-model

data-model: change data instance constructor and build
  packages/data-model/src/data-instance.ts
  packages/data-model/src/readable/data-grant.ts
Due: data-model

data-model: consistent build methods
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/src/readable/social-agent-registration.ts
Due: data-model

data-model: fixed coverage
  packages/data-model/src/readable/access-consent-registry.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
Due: data-model

authorization-agent: extracted generating access grant from record access consent
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
Due: none

data-model: deleted readable access consent registry
  packages/data-model/src/readable/access-consent-registry.ts
Due: data-model

data-model: access consent reuses existing data grants whenever possible
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/test/immutable/access-grant-test.ts
  packages/data-model/test/readable/access-consent-test.ts
Due: data-model

data-model: improved reusing data-grants with inherited scope
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
Due: data-model

data-model: extracted resource
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/resource.ts
  packages/data-model/src/resource.ts
Due: data-model

data-model: improved dataset access
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/crud/resource.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/src/resource.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
  packages/data-model/test/readable/access-grant-test.ts
  packages/data-model/test/resource-test.ts
Due: data-model

data-model: refactored readable data grants
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/inherit-instances-data-grant.ts
  packages/data-model/src/readable/inheritable-data-grant.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/test/readable/all-instances-data-grant-test.ts
  packages/data-model/test/readable/selected-instances-data-grant-test.ts
Due: data-model

data-model: cleaned up with linter
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/resource.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/src/resource.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
  packages/data-model/test/crud/data-registry-test.ts
  packages/data-model/test/crud/resoruce-test.ts
  packages/utils/src/fetch.ts
  packages/utils/test/fetch-test.ts
Due: data-model, utils

data-model: update data grant names
  packages/data-model/src/base-factory.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/all-from-registry-data-grant.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/inheritable-data-grant.ts
  packages/data-model/src/readable/inherited-data-grant.ts
  packages/data-model/src/readable/selected-from-registry-data-grant.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/immutable/data-consent-test.ts
  packages/data-model/test/immutable/data-grant-test.ts
  packages/data-model/test/readable/all-from-registry-data-grant-test.ts
  packages/data-model/test/readable/inherited-data-grant-test.ts
  packages/data-model/test/readable/selected-from-registry-data-grant-test.ts
Due: data-model

data-model: added few tests
  packages/data-model/test/immutable/data-consent-test.ts
  packages/data-model/test/readable/data-grant-test.ts
Due: data-model

test-util: added stateful fetch
  packages/application/test/application-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/test-utils/test/fetch-mock-test.ts
Due: application, test-utils

authorization-agent: generateAccessGrant requires agent registration
  package.json
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
Due: none

authorization-agent: updateDelegatedGrants
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/test/readable/access-grant-test.ts
Due: data-model

data-model: updated to new grantee* properties
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
  packages/data-model/test/immutable/access-consent-test.ts
  packages/data-model/test/immutable/access-grant-test.ts
  packages/data-model/test/immutable/data-consent-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: only kept CRUDSocialAgentRegistration
  packages/application/test/application-test.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/agent-registration-test.ts
  packages/data-model/test/crud/social-agent-registration-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/agent-registry-test.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: application, data-model

data-model: AA only uses CRUDApplicationRegistration
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/test/readable/agent-registry-test.ts
  packages/data-model/test/readable/application-registration-test.ts
Due: data-model

data-model: changed AgentRegistry from Readable to CRUD
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/agent-registry-test.ts
Due: data-model

data-model: changed RegistrySet from Readable to CRUD
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/crud/registry-set.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/registry-set-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

Fix predicate used to find the access consents within the registry
  packages/data-model/src/crud/access-consent-registry.ts
Due: data-model

data-model: improve coverage and optimize one method
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
Due: data-model

released 1.0.0-rc.3
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

authorization-agent: made webId and agentId public
  packages/authorization-agent/src/authorization-agent.ts
Due: none

authorization-agent: added helpers for finding agent registrations
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/test/crud/agent-registry-test.ts
Due: data-model

released 1.0.0-rc.4
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

Export CJS and MJS packages from the same build
  packages/application/fixup.sh
  packages/application/package.json
  packages/application/tsconfig-cjs.json
  packages/application/tsconfig-mjs.json
  packages/application/tsconfig.json
  packages/authorization-agent/fixup.sh
  packages/authorization-agent/package.json
  packages/authorization-agent/tsconfig-cjs.json
  packages/authorization-agent/tsconfig-mjs.json
  packages/authorization-agent/tsconfig.json
  packages/data-model/fixup.sh
  packages/data-model/package.json
  packages/data-model/tsconfig-cjs.json
  packages/data-model/tsconfig-mjs.json
  packages/data-model/tsconfig.json
  packages/namespaces/fixup.sh
  packages/namespaces/package.json
  packages/namespaces/tsconfig-cjs.json
  packages/namespaces/tsconfig-mjs.json
  packages/namespaces/tsconfig.json
  packages/utils/fixup.sh
  packages/utils/package.json
  packages/utils/tsconfig-cjs.json
  packages/utils/tsconfig-mjs.json
  packages/utils/tsconfig.json
  tsconfig.json
Due: application, data-model, namespaces, utils

Fix import paths using the parent index file
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/registry-set.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/shape-tree.ts
Due: data-model

use jest ^28.0.0-alpha.7
  package.json
Due: none

Set module target to ES2020 from ESNext
  packages/application/tsconfig-mjs.json
  packages/authorization-agent/tsconfig-mjs.json
  packages/data-model/tsconfig-mjs.json
  packages/namespaces/tsconfig-mjs.json
  packages/utils/tsconfig-mjs.json
Due: application, data-model, namespaces, utils

Revert to latest stable jest and jest-mock
  package.json
Due: none

Export CJS and MJS packages from the same build (#32)
  package.json
  packages/application/fixup.sh
  packages/application/package.json
  packages/application/tsconfig-cjs.json
  packages/application/tsconfig-mjs.json
  packages/application/tsconfig.json
  packages/authorization-agent/fixup.sh
  packages/authorization-agent/package.json
  packages/authorization-agent/tsconfig-cjs.json
  packages/authorization-agent/tsconfig-mjs.json
  packages/authorization-agent/tsconfig.json
  packages/data-model/fixup.sh
  packages/data-model/package.json
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/registry-set.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/tsconfig-cjs.json
  packages/data-model/tsconfig-mjs.json
  packages/data-model/tsconfig.json
  packages/namespaces/fixup.sh
  packages/namespaces/package.json
  packages/namespaces/tsconfig-cjs.json
  packages/namespaces/tsconfig-mjs.json
  packages/namespaces/tsconfig.json
  packages/utils/fixup.sh
  packages/utils/package.json
  packages/utils/tsconfig-cjs.json
  packages/utils/tsconfig-mjs.json
  packages/utils/tsconfig.json
  tsconfig.json
Due: application, data-model, namespaces, utils

released 1.0.0-rc.5
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

updated typescript to latest
  package.json
Due: none

released 1.0.0-rc.6
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

authorization-agent: simplified signature of generateAccessGrant
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
Due: none

authorization-agent: added README
  README.md
  packages/authorization-agent/README.md
Due: none

renamed consent -> authorization
  packages/authorization-agent/README.md
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/access-consent-registry.ts
  packages/data-model/src/crud/authorization-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/crud/registry-set.ts
  packages/data-model/src/immutable/access-authorization.ts
  packages/data-model/src/immutable/data-authorization.ts
  packages/data-model/src/immutable/index.ts
  packages/data-model/src/readable/access-authorization.ts
  packages/data-model/src/readable/data-authorization.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
  packages/data-model/test/crud/agent-registry-test.ts
  packages/data-model/test/crud/registry-set-test.ts
  packages/data-model/test/immutable/access-authorization-test.ts
  packages/data-model/test/immutable/access-consent-test.ts
  packages/data-model/test/immutable/data-authorization-test.ts
  packages/data-model/test/readable/access-authorization-test.ts
  packages/data-model/test/readable/data-authorization-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils
