Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

codecov.yml:

coverage:
  status:
    projects:
      default: off
      application:
        flags:
          - application
      data-model:
        flags:
          - data-model
      namespaces:
        flags:
          - namespaces
      test-utils:
        flags:
          - test-utils
      utils:
        flags:
          - utils

flags:
  application:
    paths:
      - packages/application
  data-model:
    paths:
      - packages/data-model
  namespaces:
    paths:
      - packages/namespaces
  test-utils:
    paths:
      - packages/test-utils
  utils:
    paths:
      - packages/utils

injecting RandomUUID dependency
  README.md
  packages/application/src/application.ts
  packages/data-model/src/factory.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/all-remote-data-grant-test.ts
  packages/data-model/test/all-remote-from-agent-data-grant-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/factory-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/inherit-remote-instances-data-grant-test.ts
  packages/data-model/test/model-test.ts
  packages/data-model/test/references-list-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
  packages/data-model/test/seleted-remote-data-grant-test.ts
  packages/utils/src/index.ts
Due: application, data-model, utils

application: small refactoring
  packages/application/src/application.ts
  packages/application/test/application-test.ts
Due: application

DataOwner provides DataRegistrationProxy for each issued grant
  packages/application/README.md
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/data-owner.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/src/index.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/test-utils/src/fetch-mock.ts
Due: application, data-model, test-utils

data-model: test fix
  packages/data-model/test/data-grant-test.ts
Due: data-model

updated badges in README files
  README.md
  packages/application/README.md
  packages/data-model/README.md
  packages/namespaces/README.md
  packages/test-utils/README.md
  packages/utils/README.md
Due: application, data-model, namespaces, test-utils, utils

Add license scan report and status (#12)
  README.md
Due: none

removed FOSSA badge until properly setup for monorepo
  README.md
Due: none

improved test coverage
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/src/match.ts
  packages/utils/test/match-test.ts
  packages/utils/test/turtle-parser-test.ts
Due: test-utils, utils

imoroved test coverage
  lerna.json
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/model.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/factory-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
Due: data-model

full test coverage
  packages/data-model/src/data-instance.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/factory-test.ts
Due: data-model

utils: rdf wrapper for fetch
  packages/application/README.md
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/model.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/factory-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/src/fetch.ts
  packages/utils/src/index.ts
  packages/utils/src/turtle-serializer.ts
  packages/utils/test/fetch-test.ts
  packages/utils/test/turtle-serializer-test.ts
  packages/utils/tsconfig.json
  tsconfig.json
Due: application, data-model, test-utils, utils

utils: fetchWrapper tests
  packages/utils/src/fetch.ts
  packages/utils/test/fetch-test.ts
  packages/utils/test/turtle-serializer-test.ts
Due: utils

use Shape Path instead of References List
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/references-list.ts
  packages/data-model/src/shape-tree.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/references-list-test.ts
  packages/data-model/test/shape-tree-test.ts
  packages/namespaces/src/index.ts
  packages/test-utils/package.json
  packages/test-utils/src/fetch-mock.ts
  packages/utils/package.json
  packages/utils/src/desc.d.ts
  packages/utils/src/index.ts
  packages/utils/src/shape-path.ts
Due: data-model, namespaces, test-utils, utils

implemented application registration discovery
  packages/application/README.md
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/utils/package.json
  packages/utils/src/fetch.ts
  packages/utils/src/index.ts
  packages/utils/src/link-header.ts
  packages/utils/test/link-header-test.ts
Due: application, test-utils, utils

data-model: update parent data instance when creating/deleting child data instance
  jest.preset.js
  packages/application/README.md
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/shape-tree.ts
  packages/data-model/test/data-instance-test.ts
  packages/utils/src/fetch.ts
  packages/utils/src/shape-path.ts
  packages/utils/test/shape-path-test.ts
Due: application, data-model, utils

application: clientId is not needed
  packages/application/README.md
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/utils/src/link-header.ts
Due: application, utils

utils: uses shape path text in test instead of test-utils
  packages/utils/test/shape-path-test.ts
Due: utils

updated most root dependencies
  README.md
  package.json
Due: none

made packages ES modules instead of CommonJS
  jest.preset.js
  package.json
  packages/application/jest.config.js
  packages/application/package.json
  packages/application/test/application-test.ts
  packages/data-model/jest.config.js
  packages/data-model/package.json
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/namespaces/jest.config.js
  packages/namespaces/package.json
  packages/test-utils/jest.config.js
  packages/test-utils/package.json
  packages/test-utils/src/fetch-mock.ts
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/src/link-header.ts
  packages/utils/src/shape-path.ts
  packages/utils/test/fetch-test.ts
  tsconfig.json
Due: application, data-model, namespaces, test-utils, utils

added missing tests
  packages/application/test/application-test.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/test/shape-path-test.ts
Due: application, data-model, test-utils, utils

replaced author with contributors
  packages/application/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

added links to github issues
  .eslintrc.js
  packages/application/README.md
  packages/application/src/application.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-grants/all-instances-data-grant.ts
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/model.ts
  packages/data-model/test/data-instance-test.ts
  packages/namespaces/src/builder.ts
  packages/test-utils/src/fetch-mock.ts
  packages/utils/src/fetch.ts
  packages/utils/src/match.ts
  packages/utils/src/shape-path.ts
  packages/utils/test/fetch-test.ts
Due: application, data-model, namespaces, test-utils, utils

application: updated to use interop:hasAuthorizationAgent
  packages/application/src/application.ts
  packages/test-utils/package.json
Due: application, test-utils

addressed remaining problems reporeted by linters
  .eslintrc.js
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/test-utils/package.json
  packages/test-utils/src/fetch-mock.ts
  packages/utils/src/fetch.ts
Due: data-model, test-utils, utils

added short description to each package.json
  packages/application/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

set files and repository in each package.json
  packages/application/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

included copy of MIT license in each package
  packages/application/LICENSE
  packages/data-model/LICENSE
  packages/namespaces/LICENSE
  packages/test-utils/LICENSE
  packages/utils/LICENSE
Due: application, data-model, namespaces, test-utils, utils

set package version to 1.0.0-rc.0 for all packages
  lerna.json
  packages/application/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

utils: exported WhatwgFetch type definition
  packages/utils/package.json
  packages/utils/src/fetch.ts
Due: utils
