Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

application: corrected dependency type to WhatwgFetch
  packages/application/README.md
  packages/application/package.json
  packages/application/src/application.ts
  packages/application/test/application-test.ts
Due: application

utils: rdf fetch only tries to parse turtle fixes #18
  packages/test-utils/src/fetch-mock.ts
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/src/fetch.ts
  packages/utils/test/fetch-test.ts
Due: test-utils, utils

utils: rdf fetch passes response url as source to parseTurtle fixes #19
  packages/utils/src/fetch.ts
  packages/utils/src/turtle-parser.ts
  packages/utils/test/fetch-test.ts
  packages/utils/test/turtle-parser-test.ts
Due: utils

data-model: extracted findChildGrant as method fixes #21
  packages/data-model/src/data-instance.ts
Due: data-model

data-model: data-instance update sets target registration in link header fixes #22
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/utils/src/link-header.ts
  packages/utils/test/fetch-test.ts
  packages/utils/test/link-header-test.ts
Due: data-model, utils

~ s/Project/Task/ typo
  packages/application/README.md
Due: application

application: added early access notice
  packages/application/README.md
Due: application

Apply suggestions from code review
  packages/application/README.md
Due: application

added early access notice (#23)
  packages/application/README.md
Due: application

data-model: ensure parent is present when creating new data instance via inherited instances grant fixes #20
  packages/application/README.md
  packages/data-model/src/data-grants/inherit-instances-data-grant.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
Due: application, data-model

release 1.0.0-rc.2
  packages/application/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

data-model: Model renamed to ReadableResource
  packages/data-model/src/access-receipt.ts
  packages/data-model/src/application-registration.ts
  packages/data-model/src/data-grant.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable-resource.ts
  packages/data-model/src/shape-tree.ts
  packages/data-model/test/model-test.ts
Due: data-model

data-model: immutable-resource and immutable-data-grant added
  packages/data-model/src/immutable-data-grant.ts
  packages/data-model/src/immutable-resource.ts
  packages/data-model/src/index.ts
  packages/data-model/test/immutable-data-grant-test.ts
  packages/data-model/test/immutable-resource-test.ts
Due: data-model

data-model: AccessReceipt => AccessGrant
  packages/application/src/application.ts
  packages/data-model/src/access-grant.ts
  packages/data-model/src/application-registration.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/shape-tree.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/test-utils/package.json
Due: application, data-model, test-utils

data-model: ApplicationRegistration => ReadableApplicationRegistration
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable-application-registration.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/factory-test.ts
Due: application, data-model

Added CRUDResoruce, CRUDApplicationRegistration
  packages/data-model/src/crud-application-registration.ts
  packages/data-model/src/crud-resource.ts
  packages/data-model/src/index.ts
  packages/data-model/test/crud-application-registration-test.ts
  packages/data-model/test/crud-resoruce-test.ts
  packages/namespaces/src/index.ts
Due: data-model, namespaces

data-model: reorganised files
  packages/application/README.md
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/crud/resource.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-owner.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/index.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/inherit-instances-data-grant.ts
  packages/data-model/src/readable/resource.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/shape-tree-test.ts
Due: application, data-model

data-model: aligned constructs
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/test/immutable-data-grant-test.ts
  packages/data-model/test/immutable-resource-test.ts
Due: data-model

ata-model: separated factory for application and authorization agent
  packages/application/src/application.ts
  packages/data-model/src/application-factory.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/base-factory.ts
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/factory.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/index.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/src/readable/all-instances-data-grant.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/selected-instances-data-grant.ts
  packages/data-model/test/access-receipt-test.ts
  packages/data-model/test/all-instances-data-grant-test.ts
  packages/data-model/test/application-registration-test.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/base-factory-test.ts
  packages/data-model/test/crud-application-registration-test.ts
  packages/data-model/test/crud-resoruce-test.ts
  packages/data-model/test/data-grant-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-owner-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/data-registration-test.ts
  packages/data-model/test/immutable-data-grant-test.ts
  packages/data-model/test/immutable-resource-test.ts
  packages/data-model/test/inherit-instances-data-grant-test.ts
  packages/data-model/test/model-test.ts
  packages/data-model/test/selected-instances-data-grant-test.ts
  packages/data-model/test/shape-tree-test.ts
Due: application, data-model

authorization-agent: initial work
  .github/workflows/ci.yml
  packages/authorization-agent/LICENSE
  packages/authorization-agent/jest.config.js
  packages/authorization-agent/package.json
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/index.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/authorization-agent/tsconfig.json
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/index.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/access-consent-registry.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/agent-registry.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/data-registry.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/registry-set.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/access-consent-registry-test.ts
  packages/data-model/test/access-consent-test.ts
  packages/data-model/test/agent-registry-test.ts
  packages/data-model/test/registry-set-test.ts
  packages/data-model/test/social-agent-registration-test.ts
Due: data-model

data-model: reorganized test files
  packages/data-model/test/crud/application-registration-test.ts
  packages/data-model/test/crud/resoruce-test.ts
  packages/data-model/test/immutable/data-grant-test.ts
  packages/data-model/test/immutable/resource-test.ts
  packages/data-model/test/readable/access-consent-registry-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/access-grant-test.ts
  packages/data-model/test/readable/agent-registry-test.ts
  packages/data-model/test/readable/all-instances-data-grant-test.ts
  packages/data-model/test/readable/application-registration-test.ts
  packages/data-model/test/readable/data-grant-test.ts
  packages/data-model/test/readable/data-registration-test.ts
  packages/data-model/test/readable/inherit-instances-data-grant-test.ts
  packages/data-model/test/readable/registry-set-test.ts
  packages/data-model/test/readable/resource-test.ts
  packages/data-model/test/readable/selected-instances-data-grant-test.ts
  packages/data-model/test/readable/shape-tree-test.ts
  packages/data-model/test/readable/social-agent-registration-test.ts
Due: data-model

data-model: further work on consents
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/base-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/data-registry.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/resource-test.ts
  packages/data-model/test/readable/data-consent-test.ts
  packages/data-model/test/readable/data-registry-test.ts
  packages/data-model/test/readable/registry-set-test.ts
  packages/data-model/test/readable/social-agent-registration-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/utils/src/async-iterable-to-array.ts
  packages/utils/src/index.ts
Due: data-model, test-utils, utils

data-model: initial version of iriForContained()
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/readable/access-consent-registry.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: improved generating grants from consents
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: immutable resources do not need async factory methods
  packages/application/README.md
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-consent.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
Due: application, data-model

data-model: authorization agent factory gets webid and agentid
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/crud/application-registration-test.ts
  packages/data-model/test/readable/access-consent-registry-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/agent-registry-test.ts
  packages/data-model/test/readable/data-consent-test.ts
  packages/data-model/test/readable/data-registry-test.ts
  packages/data-model/test/readable/registry-set-test.ts
  packages/data-model/test/readable/social-agent-registration-test.ts
Due: data-model

data-model: updated names of scopes
  packages/data-model/src/base-factory.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/data-grant-test.ts
  packages/data-model/test/readable/all-instances-data-grant-test.ts
  packages/data-model/test/readable/inherit-instances-data-grant-test.ts
  packages/data-model/test/readable/selected-instances-data-grant-test.ts
Due: data-model

data-model: generating data grants for inherited data consent
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: comparing grants takes into account more predicates * inheritsFromGrant * delegationOfGrant
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/readable/data-consent-test.ts
Due: data-model

data-model: improved test coverage
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/access-consent.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/access-consent-test.ts
  packages/data-model/test/immutable/access-grant-test.ts
  packages/data-model/test/immutable/data-consent-test.ts
  packages/data-model/test/immutable/resource-test.ts
  packages/data-model/test/readable/access-consent-registry-test.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/application-registration-test.ts
  packages/data-model/test/readable/social-agent-registration-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

data-model: tests with full code coverage
  packages/data-model/src/readable/access-consent.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/test/readable/access-consent-test.ts
  packages/data-model/test/readable/data-consent-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

util, test-util: added missing tests
  packages/test-utils/test/fetch-mock-test.ts
  packages/utils/test/async-iterable-to-array-test.ts
Due: test-utils, utils

data-model: addressed linting problems
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/base-factory.ts
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/index.ts
  packages/data-model/src/readable/data-consent.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/social-agent-registration.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/access-consent-test.ts
  packages/data-model/test/immutable/access-grant-test.ts
Due: data-model

Path conditions:
  application: any of: packages/application
  data-model: any of: packages/data-model
  namespaces: any of: packages/namespaces
  test-utils: any of: packages/test-utils
  utils: any of: packages/utils
