Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

codecov.yml:

coverage:
  status:
    projects:
      default: off
      application:
        flags:
          - application
      data-model:
        flags:
          - data-model
      namespaces:
        flags:
          - namespaces
      test-utils:
        flags:
          - test-utils
      utils:
        flags:
          - utils

flags:
  application:
    paths:
      - packages/application
  data-model:
    paths:
      - packages/data-model
  namespaces:
    paths:
      - packages/namespaces
  test-utils:
    paths:
      - packages/test-utils
  utils:
    paths:
      - packages/utils

released 1.0.0-rc.12
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

[authorization-agent] changed argument of updateDelegatedGrants
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
Due: none

released 1.0.0-rc.13
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

data-model: first mixin agent-registration-getters
  packages/data-model/package.json
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/mixins/agent-registration-getters.ts
  packages/data-model/src/readable/application-registration.ts
  packages/data-model/test/crud/agent-registration-test.ts
Due: data-model

[data-model] added Resource#node : NamedNode
  packages/data-model/src/resource.ts
  packages/data-model/test/resource-test.ts
Due: data-model

[data-model] updating reciprocal registration on social agent registration
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/test/crud/social-agent-registration-test.ts
Due: data-model

[data-model] fixed CRUDContainer#replaceStatement
  packages/data-model/src/crud/container.ts
  packages/data-model/test/crud/container-test.ts
Due: data-model

[data-model] added few tests that were missing
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/test/crud/agent-registry-test.ts
  packages/data-model/test/crud/container-test.ts
  packages/data-model/test/immutable/data-authorization-test.ts
Due: data-model

[data model] added few getters
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/test/crud/agent-registration-test.ts
  packages/data-model/test/crud/application-registration-test.ts
  packages/data-model/test/crud/social-agent-registration-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

[data-model] added ReadableClientIdDocument
  packages/data-model/src/base-factory.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/readable/client-id-document.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/test/readable/client-id-document-test.ts
Due: data-model

[data-model] extended shape tree with descriptions
  packages/data-model/src/base-factory.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/shape-tree-description.ts
  packages/data-model/src/readable/shape-tree.ts
Due: data-model

[data-model] added access descriptions
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/readable/access-description-set.ts
  packages/data-model/src/readable/access-description.ts
  packages/data-model/src/readable/access-need-description.ts
  packages/data-model/src/readable/access-need-group-description.ts
  packages/data-model/src/readable/index.ts
Due: data-model

[data-model] addedd access need and access need group
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/readable/access-description-set.ts
  packages/data-model/src/readable/access-description.ts
  packages/data-model/src/readable/access-need-description.ts
  packages/data-model/src/readable/access-need-group-description.ts
  packages/data-model/src/readable/access-need-group.ts
  packages/data-model/src/readable/access-need.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/shape-tree-description.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/test-utils/package.json
Due: data-model, test-utils

[data-model] added tests for shape tree descriptions
  packages/data-model/src/base-factory.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/readable/shape-tree-description-test.ts
  packages/data-model/test/readable/shape-tree-test.ts
Due: data-model

[data-model] added tests for access descriptions
  packages/data-model/test/readable/access-description-set-test.ts
  packages/data-model/test/readable/access-need-description-test.ts
  packages/data-model/test/readable/access-need-group-description-test.ts
  packages/data-model/test/readable/client-id-document-test.ts
Due: data-model

[data-model] added tests for access need and access need group
  packages/data-model/test/readable/access-need-group-test.ts
  packages/data-model/test/readable/access-need-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

released 1.0.0-rc.14
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

various changes based on developing demo app
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/data-model/src/readable/client-id-document.ts
  packages/data-model/test/readable/client-id-document-test.ts
  packages/test-utils/package.json
  packages/utils/src/discovery.ts
  packages/utils/src/turtle-parser.ts
  packages/utils/test/discovery-test.ts
  packages/utils/test/fetch-test.ts
  packages/utils/test/turtle-parser-test.ts
Due: application, data-model, test-utils, utils

released 1.0.0-rc.15
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

Add name and logo_uri properties to ClientIdDocument
  packages/data-model/src/readable/client-id-document.ts
Due: data-model

Add tests for name and logo_uri
  packages/data-model/test/readable/client-id-document-test.ts
Due: data-model

updated snippets for clientid document
  packages/data-model/src/readable/client-id-document.ts
  packages/data-model/test/readable/client-id-document-test.ts
  packages/test-utils/package.json
  packages/test-utils/src/fetch-mock.ts
Due: data-model, test-utils

[data-model] added DataInstance#replaceValue
  packages/data-model/src/data-instance.ts
Due: data-model

initial work for access not granted
  packages/application/src/application.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/data-model/src/immutable/access-authorization.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/readable/access-authorization.ts
  packages/data-model/src/readable/access-grant.ts
Due: application, data-model

[data-model] create data instances async
  packages/data-model/src/data-instance.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/src/readable/all-from-registry-data-grant.ts
  packages/data-model/src/readable/data-grant.ts
  packages/data-model/src/readable/inherited-data-grant.ts
  packages/data-model/src/readable/webid-profile.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/readable/all-from-registry-data-grant-test.ts
  packages/data-model/test/readable/data-grant-test.ts
  packages/data-model/test/readable/inherited-data-grant-test.ts
Due: data-model

added missing tests
  packages/authorization-agent/src/authorization.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/readable/access-grant.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/data-registration-proxy-test.ts
  packages/data-model/test/immutable/access-authorization-test.ts
  packages/data-model/test/immutable/access-grant-test.ts
  packages/data-model/test/readable/access-grant-test.ts
  packages/data-model/test/readable/webid-profile-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

released 1.0.0-rc.16
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

Add publish to NPM action
  .github/workflows/publish-to-npm.yml
Due: none

Publish
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

Update npm command from 'release' to 'publish'
  .github/workflows/publish-to-npm.yml
Due: none

[data-model] shape tree describes instance
  packages/data-model/package.json
  packages/data-model/src/base-factory.ts
  packages/data-model/src/data-registration-proxy.ts
  packages/data-model/src/readable/data-instance.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/data-registration-proxy-test.ts
Due: data-model

[application] provides shareUri
  packages/application/package.json
  packages/application/src/application.ts
Due: application

[authorization-agent] initial work for resource oriented sharing
  packages/authorization-agent/package.json
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/readable/data-instance.ts
Due: data-model

[data-model, authorization-agent] handles sharing data instance with multiple agents
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/data-model/src/crud/authorization-registry.ts
  packages/data-model/src/immutable/access-authorization.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-authorization.ts
  packages/data-model/src/readable/access-authorization.ts
  packages/data-model/src/readable/data-authorization.ts
  packages/data-model/src/readable/data-instance.ts
Due: data-model

added missing tests
  packages/application/test/application-test.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/readable/access-authorization.ts
  packages/data-model/test/crud/agent-registry-test.ts
  packages/data-model/test/immutable/access-authorization-test.ts
  packages/data-model/test/readable/data-instance-test.ts
  packages/data-model/test/readable/shape-tree-test.ts
Due: application, data-model

[data-model] added more info to readable data instance
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/readable/data-instance.ts
Due: data-model

updated root dev dependencies
  package.json
Due: none

fixed all linting errors, some warnings still left
  packages/application/src/application.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/immutable/access-authorization.ts
  packages/data-model/src/immutable/access-grant.ts
  packages/data-model/src/immutable/data-grant.ts
  packages/data-model/src/readable/access-description.ts
  packages/data-model/src/readable/access-need-description.ts
  packages/data-model/src/readable/access-need-group-description.ts
  packages/data-model/src/readable/access-need.ts
  packages/data-model/src/readable/data-authorization.ts
  packages/data-model/src/readable/data-instance.ts
  packages/data-model/src/readable/data-registration.ts
  packages/data-model/src/readable/shape-tree-description.ts
  packages/namespaces/src/builder.ts
Due: application, data-model, namespaces

run eslint from pre-commit hook
  .husky/pre-commit
Due: none

updated dependencies in each package
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils
