Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, namespaces, test-utils, utils

released 1.0.0-rc.7
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

temporary fix for text on fetch
  packages/utils/src/fetch.ts
Due: utils

cleaner assignment
  packages/utils/src/fetch.ts
Due: utils

Resolves #35 (#36)
  packages/utils/src/fetch.ts
Due: utils

released 1.0.0-rc.8
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

Explicitely serialize as text/turtle when requested
  packages/utils/src/fetch.ts
  packages/utils/src/link-header.ts
  packages/utils/src/turtle-serializer.ts
  packages/utils/test/turtle-serializer-test.ts
Due: utils

updated tests
  packages/application/test/application-test.ts
  packages/test-utils/src/fetch-mock.ts
  packages/utils/test/fetch-test.ts
  packages/utils/test/link-header-test.ts
  packages/utils/test/turtle-serializer-test.ts
Due: application, test-utils, utils

changed from viaShapePath to viaPredicate
  packages/data-model/src/data-instance.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/readable/shape-tree-test.ts
  packages/test-utils/package.json
  packages/utils/package.json
  packages/utils/src/desc.d.ts
  packages/utils/src/index.ts
  packages/utils/src/shape-path.ts
  packages/utils/test/shape-path-test.ts
Due: data-model, test-utils, utils

[namespaces] added few more common namespaces
  packages/namespaces/src/index.ts
Due: namespaces

[data-model] updated hasRegistration to hasDataRegistration
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/test/crud/data-registry-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

updated deps: typescript & jest
  jest.preset.js
  package.json
  packages/application/jest.config.js
  packages/authorization-agent/jest.config.js
  packages/data-model/jest.config.js
  packages/namespaces/jest.config.js
  packages/test-utils/jest.config.js
  packages/utils/jest.config.js
Due: application, data-model, namespaces, test-utils, utils

[application] handle unset Link header
  packages/application/src/application.ts
  packages/application/test/application-test.ts
Due: application

[utils] promise based wrapper for json-ld parser
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/jsonld-parser.ts
  packages/utils/test/jsonld-parser-test.ts
Due: utils

[application] provides authorization redirect uri
  packages/application/README.md
  packages/application/src/application.ts
  packages/application/test/application-test.ts
  packages/test-utils/package.json
Due: application, test-utils

released 1.0.0-rc.9
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

[authorization-agent] expose RdfFetch and WhatWgFetch
  packages/authorization-agent/src/authorization-agent.ts
Due: none

[application, util] extracted discovery logic
  packages/application/src/application.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/utils/package.json
  packages/utils/src/discovery.ts
  packages/utils/src/index.ts
  packages/utils/src/link-header.ts
  packages/utils/test/discovery-test.ts
  packages/utils/test/link-header-test.ts
Due: application, utils

[data-model] reciprocal registration discovery
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/test/crud/social-agent-registration-test.ts
Due: data-model

[data-model] adding agent registrations
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/application-registration.ts
  packages/data-model/src/crud/container.ts
  packages/data-model/src/crud/resource.ts
  packages/data-model/src/crud/social-agent-registration.ts
  packages/data-model/test/crud/agent-registration-test.ts
  packages/data-model/test/crud/agent-registry-test.ts
  packages/utils/src/index.ts
  packages/utils/src/link-header.ts
  packages/utils/src/sparql-update.ts
Due: data-model, utils

released 1.0.0-rc.10
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

[data-model] fix updating local dataset when adding registrations
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/test/crud/agent-registry-test.ts
Due: data-model

[test-util] fetch-mock responds ok on PATCH
  packages/test-utils/src/fetch-mock.ts
Due: test-utils

[data-model] fixed agent registry tests
  packages/data-model/test/crud/agent-registry-test.ts
Due: data-model

[utils] restore use of HEAD for Agent Registration discovery
  packages/utils/src/discovery.ts
Due: utils

[test-utils] added missing fetch-mock tests
  packages/test-utils/test/fetch-mock-test.ts
Due: test-utils

[utils] added deletePatch (sparql-update)
  packages/utils/src/sparql-update.ts
  packages/utils/test/sparql-update-test.ts
Due: utils

[data model] changed adding access authorizations
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/authorization-registry.ts
  packages/data-model/src/crud/container.ts
  packages/data-model/test/crud/access-consent-registry-test.ts
Due: data-model

[authorization-agent] export AccessAuthorizationStructure
  packages/authorization-agent/src/authorization-agent.ts
Due: none

[data-model] added grantedBy to Data Authorization
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/immutable/data-authorization.ts
  packages/data-model/test/authorization-agent-factory-test.ts
  packages/data-model/test/immutable/access-authorization-test.ts
  packages/data-model/test/immutable/data-authorization-test.ts
Due: data-model

[data-model] fixed adding registrations to agent registry
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/crud/agent-registration.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/test/crud/agent-registration-test.ts
Due: data-model

[authorization-agent] moved generating access authorization into separte file
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/authorization-agent/src/index.ts
Due: none

[data-model] added missing satisfiesAccessNeed to DataAuthorization
  packages/data-model/src/immutable/data-authorization.ts
Due: data-model

[authorization-agent] capture inheritance between data authorizations
  packages/authorization-agent/src/authorization.ts
  packages/data-model/src/immutable/data-authorization.ts
Due: data-model

released 1.0.0-rc.11
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/namespaces/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Due: application, data-model, namespaces, test-utils, utils

[data-model] adding applications fetches basic info from Client ID doc
  packages/data-model/src/crud/agent-registry.ts
Due: data-model

[data-model] added ReadableWebIdProfile
  packages/data-model/src/base-factory.ts
  packages/data-model/src/readable/index.ts
  packages/data-model/src/readable/webid-profile.ts
  packages/data-model/test/readable/webid-profile-test.ts
  packages/test-utils/package.json
Due: data-model, test-utils

[authorization-agent] creates ReadableWebIdProfile
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/test/authorization-agent-test.ts
Due: none

[data-model] added missing tests to AgentRegistration
  packages/data-model/test/crud/agent-registration-test.ts
Due: data-model

Path conditions:
  application: any of: packages/application
  data-model: any of: packages/data-model
  namespaces: any of: packages/namespaces
  test-utils: any of: packages/test-utils
  utils: any of: packages/utils
